@model OnlineBookStoreUser.Models.Customers

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Register Page</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- register -->
<div class="register">
    <div class="container">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Register Here</h3>
      

        <div class="login-form-grids">
            <h5 class="animated wow slideInUp" data-wow-delay=".5s">Profile information</h5>
            <form class="animated wow slideInUp" data-wow-delay=".5s" asp-action="Register" asp-controller="Customers">
                <input type="text" asp-for="FirstName" placeholder="First Name..." required=" ">
                <input type="text" asp-for="LastName" placeholder="Last Name..." required=" ">
                <input type="email" asp-for="Email" placeholder="Email..." required=" ">

                <br />  <br />
                <h5 class="animated wow slideInUp" data-wow-delay=".5s">Login information</h5>

                <input type="text" asp-for="UserName" placeholder="User Name..." required=" ">
                <input type="password" asp-for="OldPassword" placeholder="Password..." required=" ">
                <input type="password" asp-for="NewPassword" placeholder="Confirm Password..." required=" ">


                <h6 class="animated wow slideInUp" data-wow-delay=".5s">Address information</h6>

                <input type="text" asp-for="Address" placeholder="Address..." required=" "> <br />

                <label asp-for="City"><b>State</b></label>
                <select asp-for="City" class="custom-select d-block w-100" id="state" required>
                    <option value="">Choose...</option>
                    <option>Delhi - India</option>
                    <option>Maharastra - India</option>
                    <option>Uttar Pradesh - India</option>
                    <option>Karnataka - India</option>
                    <option>Bedfordshire - England</option>
                    <option>Buckinghamshire - England</option>
                    <option>City of London - England</option>
                    <option>Staffordshire - England</option>
                    <option>Abu Dhabi - UAE</option>
                    <option>Ajman - UAE</option>
                    <option>Dubai - UAE</option>
                    <option>Ras al-Khaimah - UAE</option>
                    <option>Alaska - USA</option>
                    <option>Maryland - USA</option>
                    <option>Hawaii - USA</option>
                    <option>New York - USA</option>
                    <option>Queensland - Australia</option>
                    <option>Tasmania - Australia</option>
                    <option>New South Wales - Australia</option>
                    <option>Victoria - Australia</option>
                    <option>Fujian - China</option>
                    <option>Hainan - China</option>
                    <option>Shaanxi - China</option>
                    <option>Yunnan - China</option>
                </select>
                <br />
                <br />
                <label asp-for="Country"><b>Country</b></label>

                <select asp-for="Country" class="custom-select d-block w-100" id="country" required>

                    <option value="">Choose...</option>
                    <option>India</option>
                    <option>USA</option>
                    <option>UAE</option>
                    <option>Australia</option>
                    <option>England</option>
                    <option>China</option>
                </select>
                <br />
                <br />
                <input type="text" asp-for="ZipCode" placeholder="ZipCode..." required=" "> <br />
                <input type="text" asp-for="Contact" placeholder="Contact..." required=" ">

                <div class="register-check-box">
                    <div class="check">
                        <label asp-for="ShippingAddress" class="checkbox"><input type="checkbox" asp-for="ShippingAddress" name="checkbox"><i> </i>Shipping Address</label>
                    </div>
                </div>
                <input type="submit" value="Register">
            </form>

        </div>
        <div class="register-home animated wow slideInUp" data-wow-delay=".5s">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </div>
</div>
<!-- //register -->
